<section class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-[1fr_2fr] gap-5 h-full relative">

  <!-- Información de registro -->
  <article class="rounded-2xl border border-gray-200 bg-white overflow-hidden h-fit order-2 lg:order-1">
    <div class="px-5 py-3 border-b border-gray-200">
      <h2 class="text-sm font-medium">Información de registro</h2>
    </div>

    <div class="p-5 space-y-3">
      <div class="flex items-center gap-x-2">
        <svg lucideBadgeInfo class="size-4 text-gray-500" />
        <span class="text-sm text-gray-700">ID:</span>
        <button class="truncate text-sm hover:underline text-blue-600 hover:text-blue-600-dark font-semibold"
          (click)="copyToClipboard(parent.user?.id)">
          {{ parent.user?.id }}
        </button>
      </div>
      <div class="flex items-center gap-x-2">
        <svg lucideCalendar1 class="size-4 text-gray-500" />
        <span class="text-sm text-gray-700">Fecha de registro:</span>
        <span class="text-sm">{{ parent.user?.createdAt | date:'longDate':'':'es' }}</span>
      </div>
      <div class="flex items-center gap-x-2">
        <svg lucideCalendarCheck class="size-4 text-gray-500" />
        <span class="text-sm text-gray-700">Fecha de actualización:</span>
        <span class="text-sm">{{ (parent.user?.updatedAt | date:'longDate':'':'es') || 'No actualizado' }}</span>
      </div>

      @if (parent.user?.status === 'SUSPENDED') {
        <p class="flex items-center justify-center gap-x-2 text-sm px-3 py-2 font-medium rounded-lg bg-red-100 text-red-600 mt-5">
          <svg lucideTrash2 class="size-4" />
          El usuario ha sido suspendido.
        </p>
      } @else {
        @if (parent.user?.status === 'INACTIVE') {
          <p class="flex items-center justify-center gap-x-2 text-sm px-3 py-2 font-medium rounded-lg bg-amber-100 text-amber-600 mt-5">
            <svg lucideXCircle class="size-4" />
            El usuario se encuentra inactivo.
          </p>
        }
      }
    </div>
  </article>

  <!-- Información personal -->
  <article class="rounded-2xl border border-gray-200 bg-white overflow-hidden order-1 lg:order-2">
    <div class="px-5 py-3 border-b border-gray-200">
      <h2 class="text-sm font-medium">Información Personal</h2>
    </div>

    <div class="p-5 grid grid-cols-1 md:grid-cols-2 gap-5">

      <div class="flex flex-col gap-y-2 md:col-span-2">
        <label class="text-sm font-medium">Foto de perfil</label>
        <div class="flex items-center gap-x-4">
          <div class="size-24 rounded-full border-4 border-white bg-gray-200 flex items-center justify-center overflow-hidden">
            @if (imagePreview) {
              <img src="{{ imagePreview }}" alt="avatar" class="size-full object-cover">
            } @else if (parent.user?.photoUrl) {
              <img src="{{ parent.user?.photoUrl | publicUrl }}" alt="avatar" class="size-full object-cover">
            } @else {
              <span class="text-3xl font-semibold text-gray-500">
                {{ parent.user?.names?.charAt(0) }}{{ parent.user?.lastNames?.charAt(0) }}
              </span>
            }
          </div>
          <div class="space-y-2">
            <input #fileInput type="file" accept="image/*" (change)="onFileChange($event)" hidden />
            <button type="button" (click)="fileInput.click()" class="text-[13px] px-2.5 py-1.5 font-medium text-white bg-blue-600 hover:bg-blue-600-dark rounded-lg">Cambiar foto</button>
            <p class="text-xs text-gray-700">La imagen debe ser cuadrada y no mayor a 1MB</p>
          </div>
        </div>
      </div>

      <div class="flex flex-col gap-y-2">
        <label class="text-sm font-medium">Nombres</label>
        <input
          type="text"
          placeholder="Ingrese su nombre completo"
          class="text-sm border border-gray-200 rounded-md py-2 px-4 focus:outline-none focus:ring-[1.5px] focus:ring-blue-600"
          [(ngModel)]="formData.names"
          (ngModelChange)="checkChanges()"
          (blur)="touch('names')">
        @if (touched.names && !validateNames(formData.names)) {
          <div class="text-xs text-red-500">El nombre es obligatorio y debe tener al menos 2 caracteres.</div>
        }
      </div>

      <div class="flex flex-col gap-y-2">
        <label class="text-sm font-medium">Apellidos</label>
        <input
          type="text"
          placeholder="Ingrese sus apellidos"
          class="text-sm border border-gray-200 rounded-md py-2 px-4 focus:outline-none focus:ring-[1.5px] focus:ring-blue-600"
          [(ngModel)]="formData.lastNames"
          (ngModelChange)="checkChanges()"
          (blur)="touch('lastNames')">
        @if (touched.lastNames && !validateLastNames(formData.lastNames)) {
          <div class="text-xs text-red-500">El apellido es obligatorio y debe tener al menos 2 caracteres.</div>
        }
      </div>

      <div class="flex flex-col gap-y-2 md:col-span-2">
        <label class="text-sm font-medium">DNI</label>
        <input
          type="text"
          placeholder="Ingrese su DNI"
          class="text-sm bg-gray-100 border border-gray-200 rounded-md py-2 px-4 focus:outline-none focus:ring-[1.5px] focus:ring-blue-600"
          disabled
          [(ngModel)]="formData.dni">
      </div>

      <div class="flex flex-col gap-y-2">
        <label class="text-sm font-medium">Correo</label>
        <input
          type="email"
          placeholder="Ingrese su correo electrónico"
          class="text-sm border border-gray-200 rounded-md py-2 px-4 focus:outline-none focus:ring-[1.5px] focus:ring-blue-600"
          [(ngModel)]="formData.email"
          (ngModelChange)="checkChanges()"
          (blur)="touch('email')">
        @if (touched.email && !validateEmail(formData.email)) {
          <div class="text-xs text-red-500">Ingresa un correo válido.</div>
        }
      </div>

      <div class="flex flex-col gap-y-2">
        <label class="text-sm font-medium">Teléfono</label>
        <input
          type="text"
          placeholder="Ingrese su número de teléfono"
          ma
          class="text-sm border border-gray-200 rounded-md py-2 px-4 focus:outline-none focus:ring-[1.5px] focus:ring-blue-600"
          [(ngModel)]="formData.phone"
          (ngModelChange)="checkChanges()"
          (keypress)="allowOnlyNumbers($event)"
          (blur)="touch('phone')">
        @if (touched.phone && formData.phone && !validatePhone(formData.phone)) {
          <div class="text-xs text-red-500">El teléfono debe tener exactamente 9 dígitos numéricos.</div>
        }
      </div>

      <div class="md:col-span-2">
        <button
          type="button"
          class="text-sm px-4 py-2 font-medium text-white bg-blue-600 hover:bg-blue-700 rounded-lg disabled:bg-black disabled:cursor-not-allowed"
          [disabled]="!hasChanges || !isFormValid"
          (click)="saveChanges()">
          Guardar cambios
        </button>
      </div>
    </div>

  </article>
</section>
