<section class="grid gap-5 relative h-full">

  <article class="rounded-2xl border border-gray-200 bg-white overflow-hidden">

    <div class="px-5 py-3 border-b border-gray-200">
      <h2 class="text-sm font-medium">Seguridad</h2>
    </div>

    <div class="grid">

      <div class="flex flex-col gap-y-2 p-5">
        <label class="text-sm font-medium">Rol asignado</label>
        <div class="flex items-center gap-x-2">
          <select [(ngModel)]="selectedRoleId" [disabled]="!isEditable"
            class="text-sm border border-gray-200 rounded-md py-2 px-4 focus:outline-none focus:ring-[1.5px] focus:ring-blue-600 disabled:bg-gray-100 disabled:text-gray-500 w-full">
            <option value="" disabled>Seleccione un rol...</option>
            @for (role of roles; track role.id) {
            <option [value]="role.id">
              {{ role.name === 'ADMIN' ? 'ADMINISTRADOR'
              : role.name === 'SUPERVISOR' ? 'SUPERVISOR'
              : role.name === 'TECHNICIAN' ? 'TÉCNICO'
              : role.name === 'VERIFIER' ? 'VERIFICADOR'
              : role.name === 'MANAGEMENT' ? 'GERENTE'
              : role.name }}
            </option>
            }
          </select>
          @if (showSaveRoleBtn) {
          <button (click)="saveRole()" [disabled]="!isEditable"
            class="text-[13px] px-3 py-2 font-medium text-white bg-blue-600 hover:bg-blue-700 rounded-md whitespace-nowrap disabled:bg-gray-200 disabled:text-gray-500">
            Guardar cambios
          </button>
          }
        </div>
        <p class="text-xs text-gray-700">El rol asignado determinará los permisos y accesos del usuario dentro del
          sistema.</p>
      </div>

      <article class="px-5">
        <div class="flex items-center py-5 border-y border-gray-200 justify-between gap-y-2">
          <div class="space-y-1">
            <p class="text-sm font-medium">Restablecer contraseña</p>
            <p class="text-xs text-gray-700">Se reestablecerá la contraseña al documento registrado del usuario.</p>
          </div>
          <button (click)="resetPassword()"
            class="text-blue-600 hover:text-blue-600-dark hover:underline font-semibold text-sm disabled:text-gray-400 disabled:no-underline"
            [disabled]="!isEditable">Reestablecer</button>
        </div>

        <div class="flex items-center py-5 border-b border-gray-200 justify-between gap-y-2">
          <div class="space-y-1">
            <p class="text-sm font-medium">{{ isActive ? 'Deshabilitar' : 'Habilitar' }} cuenta</p>
            <p class="text-xs text-gray-700">Esta acción {{ isActive ? 'desactivará' : 'activará' }} el acceso del
              usuario al sistema. Esta acción es reversible.</p>
          </div>
          <button (click)="toggleStatus()"
            class="text-blue-600 hover:text-blue-600-dark hover:underline font-semibold text-sm">
            {{ isActive ? 'Deshabilitar' : 'Habilitar' }}
          </button>
        </div>

        <div class="flex items-center py-5 justify-between gap-y-2">
          <div class="space-y-1">
            <p class="text-sm font-medium">Eliminar cuenta</p>
            <p class="text-xs text-gray-700">Esta acción deshabilitará la cuenta del usuario de la vista principal. Esta
              acción es irreversible.</p>
          </div>
          <button (click)="deleteAccount()" [disabled]="!isEditable"
            class="hover:underline font-semibold text-sm text-red-500 hover:text-red-600 disabled:text-gray-400 disabled:no-underline">
            {{ isSuspended ? 'Eliminada' : 'Eliminar' }}
          </button>
        </div>
      </article>

    </div>

  </article>
</section>