<ng-container *ngIf="isLoading; else kpisTemplate">
  <section class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
    <div *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"
      class="h-28 bg-gray-50 rounded-xl border border-gray-200 animate-pulse"></div>
  </section>
</ng-container>

<ng-template #kpisTemplate>
  <section *ngIf="kpis" class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
    <!-- Total Clientes -->
    <article class="w-full bg-white py-5 space-y-2 px-5 rounded-xl border border-gray-200 shadow-[13px]">
      <div class="flex text-sm text-gray-600 items-center justify-between">
        <h3 class="line-clamp-1">Total de Clientes</h3>
        <svg lucideUsers class="size-5 stroke-[1.5] text-gray-600" />
      </div>
      <div class="space-y-1">
        <p class="font-medium text-xl">{{ kpis.totalCustomers.value }} <span class="text-sm">clientes</span></p>
        <p class="text-[13px] line-clamp-1" [ngClass]="{
             'text-blue-600 font-medium': kpis.totalCustomers.change > 0,
             'text-red-600 font-medium': kpis.totalCustomers.change < 0,
             'text-gray-500 font-medium': kpis.totalCustomers.change === 0
           }">
          {{ kpis.totalCustomers.changeText }}
        </p>
      </div>
    </article>

    <!-- Total Predios -->
    <article class="w-full bg-white py-5 space-y-2 px-5 rounded-xl border border-gray-200 shadow-[13px]">
      <div class="flex text-sm text-gray-600 items-center justify-between">
        <h3 class="line-clamp-1">Total de Predios</h3>
        <svg lucideHome class="size-5 stroke-[1.5]" />
      </div>
      <div class="space-y-1">
        <p class="font-medium text-xl">{{ kpis.totalProperties.value }} <span class="text-sm">predios</span></p>
        <p class="text-[13px] line-clamp-1" [ngClass]="{
             'text-blue-600 font-medium': kpis.totalProperties.change > 0,
             'text-red-600 font-medium': kpis.totalProperties.change < 0,
             'text-gray-500 font-medium': kpis.totalProperties.change === 0
           }">
          {{ kpis.totalProperties.changeText }}
        </p>
      </div>
    </article>

    <!-- Suministros Activos -->
    <article class="w-full bg-white py-5 space-y-2 px-5 rounded-xl border border-gray-200 shadow-[13px]">
      <div class="flex text-sm text-gray-600 items-center justify-between">
        <h3 class="line-clamp-1">Suministros Activos</h3>
        <svg lucideDroplets class="size-5 stroke-[1.5]" />
      </div>
      <div class="space-y-1">
        <p class="font-medium text-xl">{{ kpis.activeSupplies.value }} <span class="text-sm">suministros</span></p>
        <p class="text-[13px] line-clamp-1" [ngClass]="{
             'text-blue-600 font-medium': kpis.activeSupplies.change > 0,
             'text-red-600 font-medium': kpis.activeSupplies.change < 0,
             'text-gray-500 font-medium': kpis.activeSupplies.change === 0
           }">
          {{ kpis.activeSupplies.changeText }}
        </p>
      </div>
    </article>

    <!-- Suministros Suspendidos -->
    <article class="w-full bg-white py-5 space-y-2 px-5 rounded-xl border border-gray-200 shadow-[13px]">
      <div class="flex text-sm text-gray-600 items-center justify-between">
        <h3 class="line-clamp-1">Suministros Suspendidos</h3>
        <svg lucideAlertCircle class="size-5 stroke-[1.5]" />
      </div>
      <div class="space-y-1">
        <p class="font-medium text-xl">{{ kpis.suspendedSupplies.value }} <span class="text-sm">suministros</span></p>
        <p class="text-[13px] line-clamp-1" [ngClass]="{
             'text-blue-600 font-medium': kpis.suspendedSupplies.change > 0,
             'text-red-600 font-medium': kpis.suspendedSupplies.change < 0,
             'text-gray-500 font-medium': kpis.suspendedSupplies.change === 0
           }">
          {{ kpis.suspendedSupplies.changeText }}
        </p>
      </div>
    </article>

    <!-- Suministros Cortados -->
    <article class="w-full bg-white py-5 space-y-2 px-5 rounded-xl border border-gray-200 shadow-[13px]">
      <div class="flex text-sm text-gray-600 items-center justify-between">
        <h3 class="line-clamp-1">Suministros Cortados</h3>
        <svg lucideBan class="size-5 stroke-[1.5]" />
      </div>
      <div class="space-y-1">
        <p class="font-medium text-xl">{{ kpis.cutOffSupplies.value }} <span class="text-sm">suministros</span></p>
        <p class="text-[13px] line-clamp-1" [ngClass]="{
             'text-blue-600 font-medium': kpis.cutOffSupplies.change > 0,
             'text-red-600 font-medium': kpis.cutOffSupplies.change < 0,
             'text-gray-500 font-medium': kpis.cutOffSupplies.change === 0
           }">
          {{ kpis.cutOffSupplies.changeText }}
        </p>
      </div>
    </article>

    <!-- Facturas Pendientes -->
    <article class="w-full bg-white py-5 space-y-2 px-5 rounded-xl border border-gray-200 shadow-[13px]">
      <div class="flex text-sm text-gray-600 items-center justify-between">
        <h3 class="line-clamp-1">Facturas Pendientes</h3>
        <svg lucideFileText class="size-5 stroke-[1.5]" />
      </div>
      <div class="space-y-1">
        <p class="font-medium text-xl">{{ kpis.pendingBillings.value }} <span class="text-sm">facturas</span></p>
        <p class="text-[13px] line-clamp-1" [ngClass]="{
             'text-blue-600 font-medium': kpis.pendingBillings.change > 0,
             'text-red-600 font-medium': kpis.pendingBillings.change < 0,
             'text-gray-500 font-medium': kpis.pendingBillings.change === 0
           }">
          {{ kpis.pendingBillings.changeText }}
        </p>
      </div>
    </article>

    <!-- Facturas Vencidas -->
    <article class="w-full bg-white py-5 space-y-2 px-5 rounded-xl border border-gray-200 shadow-[13px]">
      <div class="flex text-sm text-gray-600 items-center justify-between">
        <h3 class="line-clamp-1">Facturas Vencidas</h3>
        <svg lucideAlertTriangle class="size-5 stroke-[1.5]" />
      </div>
      <div class="space-y-1">
        <p class="font-medium text-xl">{{ kpis.overdueBillings.value }} <span class="text-sm">facturas</span></p>
        <p class="text-[13px] line-clamp-1" [ngClass]="{
             'text-blue-600 font-medium': kpis.overdueBillings.change > 0,
             'text-red-600 font-medium': kpis.overdueBillings.change < 0,
             'text-gray-500 font-medium': kpis.overdueBillings.change === 0
           }">
          {{ kpis.overdueBillings.changeText }}
        </p>
      </div>
    </article>

    <!-- Total Facturado del Mes -->
    <article class="w-full bg-white py-5 space-y-2 px-5 rounded-xl border border-gray-200 shadow-[13px]">
      <div class="flex text-sm text-gray-600 items-center justify-between">
        <h3 class="line-clamp-1">Facturado del Mes</h3>
        <svg lucideTrendingUp class="size-5 stroke-[1.5]" />
      </div>
      <div class="space-y-1">
        <p class="font-medium text-xl">S/. {{ kpis.totalBilledMonth.value | number:'1.2-2' }}</p>
        <p class="text-[13px] line-clamp-1" [ngClass]="{
             'text-blue-600 font-medium': kpis.totalBilledMonth.change > 0,
             'text-red-600 font-medium': kpis.totalBilledMonth.change < 0,
             'text-gray-500 font-medium': kpis.totalBilledMonth.change === 0
           }">
          {{ kpis.totalBilledMonth.changeText }}
        </p>
      </div>
    </article>

    <!-- Total Cobrado del Mes -->
    <article class="w-full bg-white py-5 space-y-2 px-5 rounded-xl border border-gray-200 shadow-[13px]">
      <div class="flex text-sm text-gray-600 items-center justify-between">
        <h3 class="line-clamp-1">Cobrado del Mes</h3>
        <svg lucideDollarSign class="size-5 stroke-[1.5]" />
      </div>
      <div class="space-y-1">
        <p class="font-medium text-xl">S/. {{ kpis.totalCollectedMonth.value | number:'1.2-2' }}</p>
        <p class="text-[13px] line-clamp-1" [ngClass]="{
             'text-blue-600 font-medium': kpis.totalCollectedMonth.change > 0,
             'text-red-600 font-medium': kpis.totalCollectedMonth.change < 0,
             'text-gray-500 font-medium': kpis.totalCollectedMonth.change === 0
           }">
          {{ kpis.totalCollectedMonth.changeText }}
        </p>
      </div>
    </article>

    <!-- Pendiente de Cobranza -->
    <article class="w-full bg-white py-5 space-y-2 px-5 rounded-xl border border-gray-200 shadow-[13px]">
      <div class="flex text-sm text-gray-600 items-center justify-between">
        <h3 class="line-clamp-1">Pendiente de Cobranza</h3>
        <svg lucideDollarSign class="size-5 stroke-[1.5]" />
      </div>
      <div class="space-y-1">
        <p class="font-medium text-xl">S/. {{ kpis.totalPendingCollection.value | number:'1.2-2' }}</p>
        <p class="text-[13px] line-clamp-1" [ngClass]="{
             'text-blue-600 font-medium': kpis.totalPendingCollection.change > 0,
             'text-red-600 font-medium': kpis.totalPendingCollection.change < 0,
             'text-gray-500 font-medium': kpis.totalPendingCollection.change === 0
           }">
          {{ kpis.totalPendingCollection.changeText }}
        </p>
      </div>
    </article>
  </section>
</ng-template>