<!-- Tabla de trabajadores -->
<section class="overflow-x-hidden hover:overflow-x-auto">
  <div class="min-w-full inline-block align-middle">
    <div class="overflow-hidden">
      <!-- Table content -->
      <table class="min-w-full">
        <thead>
          <tr class="bg-gray-100 text-sm">
            <th scope="col" class="px-6 py-3 text-nowrap font-semibold text-xs uppercase text-start">Cliente</th>
            <th scope="col" class="px-6 py-3 text-nowrap font-semibold text-xs uppercase text-start">Documento</th>
            <th scope="col" class="px-6 py-3 text-nowrap font-semibold text-xs uppercase text-start">Tipo</th>
            <th scope="col" class="px-6 py-3 text-nowrap font-semibold text-xs uppercase text-start">Contacto</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">

          @for (customer of customers; track $index) {

            <tr routerLink={{customer.id}}
              class="group hover:bg-gray-50 hover:cursor-pointer max-xl:w-full">

              <!-- Nombre del cliente -->
              <td class="px-6 py-3 whitespace-nowrap">
                <div class="flex items-center gap-x-3">
                  <div class="size-8 rounded-full bg-blue-600 flex items-center justify-center overflow-hidden">
                    <span class="text-white text-sm font-medium">
                      {{ customer.fullName.charAt(0) | uppercase }}
                    </span>
                  </div>
                  <div>
                    <p class="text-sm capitalize font-medium group-hover:text-blue-600 group-hover:underline">{{ customer.fullName }}</p>
                  </div>
                </div>
              </td>

              <td class="px-6 py-3 whitespace-nowrap text-sm">{{ customer.documentNumber }}</td>

              <td class="px-6 py-3 whitespace-nowrap text-sm font-medium">
                @if (customer.type === 'PERSON') {
                  <span class="text-gray-900 bg-gray-100 px-2 py-2 rounded-md text-[13px]">Persona Natural</span>
                } @else if (customer.type === 'COMPANY') {
                  <span class="text-blue-700 bg-blue-100 px-2 py-2 rounded-md text-[13px]">Empresa / Corporación</span>
                } @else {
                  <span class="text-gray-900 bg-gray-100 px-2 py-2 rounded-md text-[13px]">{{ customer.type }}</span>
                }
              </td>

              <td class="px-6 py-3 whitespace-nowrap text-sm">
                <p>{{ customer.phone || 'Sin teléfono' }}</p>
                <p class="text-xs text-gray-500">{{ customer.email || 'Sin correo' }}</p>
              </td>

            </tr>

          }

        </tbody>
      </table>

    </div>
  </div>
</section>
<!-- FIN: Tabla de trabajadores -->
