<!-- Tabla de propiedades -->
<section class="overflow-x-hidden hover:overflow-x-auto">
  <div class="min-w-full inline-block align-middle">
    <div class="overflow-hidden">
      <!-- Table content -->
      <table class="min-w-full">
        <thead>
          <tr class="bg-gray-100 text-sm">
            <th scope="col" class="px-6 py-3 text-nowrap font-semibold text-xs uppercase text-start">Código Catastral</th>
            <th scope="col" class="px-6 py-3 text-nowrap font-semibold text-xs uppercase text-start">Zona</th>
            <th scope="col" class="px-6 py-3 text-nowrap font-semibold text-xs uppercase text-start">Dirección</th>
            <th scope="col" class="px-6 py-3 text-nowrap font-semibold text-xs uppercase text-start">Suministros</th>
            <th scope="col" class="px-6 py-3 text-nowrap font-semibold text-xs uppercase text-start">Tipo</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">

          @for (property of properties; track $index) {
            <tr routerLink="{{ property.id }}"
              class="group hover:bg-gray-50 hover:cursor-pointer max-xl:w-full">
              <td class="text-nowrap px-6 py-2.5 text-sm font-medium text-blue-600 group-hover:underline">{{ property.cadastralCode }}</td>
              <td class="text-nowrap px-6 py-2.5 text-sm max-w-40 truncate">{{ property.zoneName }}</td>
              <td class="text-nowrap px-6 py-2.5 text-sm max-w-40 truncate">{{ property.address }}</td>
              <td class="text-nowrap px-6 py-2.5 text-sm max-w-40 truncate">0</td>
              <td class="text-nowrap px-6 py-2.5 text-sm">
                <div class="flex items-center gap-x-1 font-medium text-[13px] bg-gray-100 rounded-lg px-3 py-2 w-fit">
                  @if (property.type === 'HOUSE') {
                    <svg lucideHome class="size-4" />
                    <p>Casa</p>
                  }
                  @else if (property.type === 'BUSINESS') {
                    <svg lucideStore class="size-4" />
                    <p>Local Comercial</p>
                  }
                  @else if (property.type === 'INDUSTRIAL') {
                    <svg lucideBuilding2 class="size-4" />
                    <p>Industrial</p>
                  }
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</section>
<!-- FIN: Tabla de propiedades -->
