<section class="relative">

  <div *ngIf="isLoading" class="absolute inset-0 bg-white/60 backdrop-blur-sm z-10 flex items-center justify-center">
    <svg lucideLoader class="animate-spin size-8 text-blue-600"></svg>
  </div>

  <div class="overflow-x-auto">
    <table class="w-full text-left">
      <thead>
        <tr class="bg-gray-100 text-sm">
          <th class="py-3 px-6 text-nowrap font-semibold text-xs uppercase text-start">Propietario / Cliente</th>
          <th class="py-3 px-6 text-nowrap font-semibold text-xs uppercase text-start">Tipo</th>
          <th class="py-3 px-6 text-nowrap font-semibold text-xs uppercase text-start">Estado</th>
          <th class="py-3 px-6 text-nowrap font-semibold text-xs uppercase text-start">Fecha de asignación</th>
          <th class="py-3 px-6 text-nowrap font-semibold text-xs uppercase text-start"></th>
        </tr>
      </thead>
      <tbody class="text-sm divide-y divide-gray-200">

        <tr routerLink="/dashboard/clientes/{{ clientView.customer.id }}"
          *ngFor="let clientView of clients" class="group hover:bg-gray-50 cursor-pointer">
          <td class="py-3 px-6">
            <div class="flex items-center gap-x-3">
              <div class="size-10 bg-blue-600 rounded-full overflow-hidden shrink-0 flex items-center justify-center text-white">
                <span class="text-base font-medium">
                  {{ clientView.customer.fullName.charAt(0) | uppercase }}
                </span>
              </div>
              <div class="flex flex-col">
                <span class="font-medium text-gray-900 group-hover:text-blue-600 group-hover:underline">{{ clientView.customer.fullName }}</span>
                <span class="text-xs text-gray-500">{{ clientView.customer.documentNumber }}</span>
              </div>
            </div>
          </td>

          <td class="py-3 px-6">
            <div class="flex items-center gap-x-1 font-medium text-[13px] border border-gray-200 bg-gray-100 rounded-lg px-3 py-2 w-fit">
              <svg *ngIf="clientView.customer.type === 'PERSON' || !clientView.customer.type" lucideUser class="size-4"></svg>
              <svg *ngIf="clientView.customer.type === 'COMPANY'" lucideBuilding class="size-4"></svg>
              <span>{{ clientView.customer.type === 'COMPANY' ? 'Empresa' : 'Persona Natural' }}</span>
            </div>
          </td>

          <td class="py-3 px-6 text-nowrap text-gray-700">
            <div *ngIf="clientView.status === 'ACTUAL'" class="flex items-center gap-x-1 font-medium text-[13px] text-green-600 border border-green-200 bg-green-50 rounded-lg px-3 py-2 w-fit">
              <svg lucideUserCheck class="size-4"></svg>
              Propietario Actual
            </div>
            <div *ngIf="clientView.status === 'ANTERIOR'" class="flex items-center gap-x-1 font-medium text-[13px] text-gray-600 border border-gray-200 bg-gray-100 rounded-lg px-3 py-2 w-fit">
              <svg lucideUserCheck class="size-4"></svg>
              Propietario Anterior
            </div>
          </td>

          <td class="py-3 px-6 text-nowrap text-gray-700">
            {{ clientView.assignedAt | date:'dd MMM yyyy - hh:mm a' }}
          </td>

          <td class="py-3 px-4 text-right">
            <div class="flex items-center gap-x-1 justify-end">
              <button
                *ngIf="clientView.status === 'ACTUAL'"
                (click)="removeClient(clientView)"
                title="Desvincular Actual"
                class="flex items-center gap-x-1 font-medium text-[13px] text-red-600 border border-red-200 bg-red-50 hover:bg-red-100 rounded-lg px-2 py-2 w-fit">
                <svg lucideBadgeX class="size-4"></svg>
              </button>
            </div>
          </td>
        </tr>

        <!-- Empty State -->
        <tr *ngIf="!isLoading && clients.length === 0">
          <td colspan="5" class="py-10 text-center text-gray-500">
            No se encontraron clientes asociados a este predio.
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
